*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}
.container {
  /* margin: 0 auto; */
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(6, minmax(min-content, 14rem));
  grid-gap: 6rem;
  align-items: stretch;
  justify-items: center;
  align-content: space-around;
  justify-content: center;
  padding: 1.5rem;

  background-image: url(./bg.jpg);
  background-size: cover;
}
@media only screen and (max-width: 900px) {
  .container {
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: repeat(4, minmax(min-content, 14rem));
  }
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-rows: repeat(12, min-content);
    grid-template-columns: repeat(2, minmax(min-content, 14rem));
    /* background-image: linear-gradient(to bottom, red, orangered); */
  }
  html {
    font-size: 50%;
  }
}
.item {
  width: 10rem;
  height: 10rem;
  background-image: linear-gradient(to bottom, #ef233c, #d90429);
}
