$color-primary: #d90429;
$color-secondary: #2b2d42;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px

:root {
    --color-primary: $color-primary;
    --color-secondary: $color-secondary;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box; // border and padding are no longer added to total height and width of a box
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    color: #000;
    font-weight: 300;
}
