<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <a href="./components/josrosAdventCalendar/josrosAdventCalendar.html">Advent Calendar</a>
  </body>
</html>
